@model GymApp.Models.Employee
@{
    ViewBag.Title = "Trainees";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@Html.Partial("_NavBar")

<h2>Trainees</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Membership</th>
        <th>Expiration month/year</th>
    </tr>
    @foreach (var customer in Model.Trainees)
    {
        <tr>
            <td>@customer.FirstName @Model.LastName</td>
            <td>@customer.Membership</td>

            @if (customer.ExpYear >= DateTime.Now.Year && customer.ExpMonth > DateTime.Now.Month)
            {
                <td>Expiration: @customer.ExpMonth / @customer.ExpYear</td>
            }
            else
            {
                <td>Expired</td>
            }
        </tr>
    }
</table>