@model GymApp.Models.Customer
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    DateTime today = DateTime.Now;

    int thisMonth = today.Month;
    int thisYear = today.Year;
}

<h2>Welcome back @Model.FirstName</h2>


<table>
    <tr>
        <td>Name: @Model.FirstName @Model.LastName</td>
        <td>ID Number: @Model.Id</td>
    </tr>
    <tr>
        <td>Membership: @Model.Membership</td>
        @if(Model.ExpYear >= thisYear && Model.ExpMonth > thisMonth)
        {
        <td>Expiration: @Model.ExpMonth / @Model.ExpYear</td>
        }
        else
        {
            <td>Expired</td>
        }
    </tr>
    <tr>
        <td>Payment: @Model.Payment</td>
        <td>Credits: @Model.Credit</td>
    </tr>
    <tr>
        <td>Trainer Wanted: @Model.Trainer</td>
        @if (Model.Trainer)
        {
            <td>Trainer: @Model.TrainerName.FirstName @Model.TrainerName.LastName</td>
        }
        else
        {
            <td>Individule</td>
        }
    </tr>
</table>

